body {
    background-color: rgba(198, 169, 146, 0.2); /* 使用 rgba 來設定顏色和透明度 */
}


.third-top{
    width: 782px;
    height: 167px;
    position: absolute;
    top: 81px;
    left: 50%;
    transform: translate(-50%,-50%);

}

.ul{
    list-style-type: none;
}

.choose-top {
    cursor: pointer;
    color: #876d5a;
    font-size: 1.7em;
    z-index: 999;
    position: absolute;
    top: 167.5px;
    left: 85.7%;
}



.third-choose-icon {
    position: absolute;
    top: 100px;
    left: 80%;
    width: 226px;
    height: 136px;
}

.third-sure{
    width: 100px;
    height: 70px;
    border-radius: 20px;
    background-color: rgba($color: #c6a992, $alpha: 0.2);
    border: 3px solid #876d5a;
    color: #876d5a;
    font-size: 2em;
    position: absolute;
    top: 660px;
    left: 85%;
}

.third-sure:hover{
    color: white ;
    background-color: #876d5a;
    border: 1px solid white;
}

.third-foot{
    position: absolute;
    width: 100%;
    top: 800px;
    left: 0%;
    height: 40px;
}

